.whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
.all {
  padding: 20px;
  min-height: 100vh;
}

#slack {
  display: none;
}
#profile_img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#twitter {
  font-weight: bold;
}
div > a {
  border-radius: 5px;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  background-color: lightgrey;
}
footer {
  bottom: 0px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
footer > img {
  padding: 8px 0px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section > img,
footer > img {
  margin: 0px 10px;
}

/* Contact */
.contact {
  display: grid;
  place-items: center;
 
}
#message:focus:valid {
  outline: green;
}
#message ~ small {
  display: none;
}
#message:focus:invalid {
  border: 1px solid red;
}
#message:focus:invalid ~ small {
  color: red;
  display: block;
}
